* { box-sizing: border-box ; }

body { background-color : #2b2b31 ; }


$mainColor : #df4f89 ; 
$colorGreen : #0ff  ; 
$colorYellow : #dcf836 ;
@mixin margin($width : 80% , $top : 0){
	width : $width ; 
	margin : $top auto ; 
	padding-left : 15px ; 
	padding-right : 15px ;
} 	
img {
	display : block ; 
	max-width : 100% ; 
}
a::before , a::after , a:hover , a { text-decoration : none ;  }
@mixin flex($align : flex-start , $justify : flex-start , $wrap : nowrap){
	display : flex ; 
	align-items : $align ; 
	justify-content : $justify ; 
	flex-wrap : $wrap ; 
}



header {
	width : 100% ;
	background-color : #2b2b31 ; 
	border-bottom : 2px solid #353748 ;
	z-index : 99 ;
	.container-header {
		@include margin(83% ,0) ; 
		.top-header {  
			@include flex(center) ; 
			#a-img {
				img {
					width : 260px ; 
					padding : 0 10px ; 
				}
			}
			form {
				position : relative ; 
				input {
					margin-left : 5px; 
					width : 500px ; 
					border-radius  : 20px ;
					height : 40px ;
					text-align : center ; 
					outline : none ; 
					border : 1px solid #2b2b31 ;
				}
				i { position : absolute ; font-size : 23px ; margin-left : -35px ; margin-right : 20px ; top : 9px ; }
			}
			.blockLogInSugIp {
				display : flex ; 
				div {
					margin-left : 10px ; 
					width : 140px ; 
					height : 40px ;
					text-align : center ; 
					line-height : 35px ;
					 
					border-radius : 20px; 
					font-size : 17px ;
					box-shadow : 0px 0px 20px 0 rgba(255, 88, 96, .5) ;
					background-image: linear-gradient(90deg,#ff55a5,#ff5860);
					a { 
						color : hsla(0, 0%, 100%, .7) ; 
						text-decoration : none ;
					} 
				}
			}
		}
		.bottom-header {
			padding-bottom : 12px ; 
			@include flex(center ,space-between) ;
			.controlClose { display : none ; color : white ; font-size : 30px ; margin-left : 85% ; margin-top : 10px ; }
			.navDesktop > ul {
				margin : 0 ; 
				font-size : 17px ; 
				margin-left : -40px ;
				display : flex ;
				li {
					padding : 18px 25px 18px 20px	 ; 
					list-style : none ; 
					position : relative ; 
					color : hsla(0, 0%, 100%, .75) ; 
					div {
						@include flex(center, flex-start , wrap) ;  
						left : -100% ; 
						position : absolute ; 
						z-index : 99 ; 
						width : 1100px ; 
						background-color : #353748 ;
						height : auto ;  
						padding-bottom : 20px ;
						padding-left : 20px ;
						border : 1px solid #3e4052 ;
						border-radius : 5px ; 	
						top : 100% ; 
						a {
							width : 25% ; 
							margin-top : 20px ;
							color : hsla(0, 0%, 100%, .75) ; 
							text-decoration : none ; 
							transition : 1s ; 
							&:hover { color : $mainColor ;}
						}
					}
					&:hover { color : $mainColor ; }
					#block-QuocGia {left : -186% ; }
					#block-PhimLe {left : -326% ; }
					#block-NgonNgu { left : -346% ; }
				}
			}
			.navMobile {
				display : none ; 
				font-size : 16px ;
				position : fixed ; 
				width : 300px ; 
				z-index : 90 ; 
				background-color : #353748 ;
				top : 0 ; 
				left : 0 ; 
				height : 1200px  ; 
				color : hsla(0, 0%, 100%, .75) ; 
				ul {
					width : 100% ; 
					position : relative ; 
					left : -30px ; 
					top : 20px ;
					height : auto ; 
					padding-bottom : 20px ; 
					li {
						position : relative ; 
						margin : 0 ;
						list-style : none ;
						padding : 10px 0 ; 
						i { position : absolute ; left : 100% }
						div {
							margin-top : 10px; 
							display : flex ; 
							flex-direction: column ;
							align-items : flex-start ; 
							justify-content : center ; 
							a {
								color : hsla(0, 0%, 100%, .75) ; 
								text-decoration : none ; 
								font-size : 14px ; 
								text-align : center ; 
								width : 100% ; 
								padding : 10px 0 ; 
								border : 1px solid #3e4052 ; 
							}
						}
						&:hover { color : $mainColor ; }
					}							
				}
			}
			.social-header {
				a {
					color : #00fcff ; 
					margin-right : 40px ; 
					font-size : 23px ; 
					&:hover { font-size : 22px ; color : $mainColor ;   transition : 2s ; }
				}
			}
			.humburger {
				display : none ; 
				.line {
					width : 27px ; 
					height : 3px ; 
					background-color : #858585 ;
					margin : 5px auto  ;
				}
			}
		}
	}
}
/*end header*/

.Slider {
	.contains-slider {
		width : 100% ; 
		background-color : #28282d ; 		
		.block-slider {
			position : relative ;
			height : 750px ;  
			width : 100% ; 
			.main-Slider {
				overflow : hidden ; 
				width : 100% ; 
				height : 100% ; 
				position : relative ; 
				.block-img-silder {
					position : absolute ; 
					z-index : 4 ; 
					width : 500% ; 
					height : 100% ;
					display : flex ; 
					img { 
						width : 20% ;
						height : 100% ; 
					}
				}
				.content-slider {
					top : 86% ; 
					width : 100% ; 
					position : absolute ; 
					z-index : 10 ; 
					text-align : center ; 
					background-color: rgba(4,13,24,.88);
					height : 14% ; 
					padding-top : 25px ;
					h1 {  margin-top : 0px ; color : #dcf836 ; font-size : 35px ; font-weight : 800 ; letter-spacing : 1px ; }
					h2 {  margin-top : -7px ; color : #0ff ; font-size : 17px ; }
				}
			}
			span {
				top : 48% ; 
				position : absolute ; 
				font-size : 60px ; 
				color : #8e8e91 ; 
				z-index : 7 ; 
				padding : 20px ;  
				cursor : pointer ; 
				transition : 1s ; 
			}
			#chevron-left { left : 2% ; &:hover { transform : translate(-15px , 0);} }
			#chevron-right { left : 91% ; &:hover { transform : translate(15px , 0);} }
		}
		.bxsilder {
			padding : 10px ;
			width : 100% ;
			padding-right : 40px ;
			ul {
				width : 13% ; 
				margin : 0 auto ; 
				@include flex(center , space-between) ;
				li { 
					list-style : none ;
					span {
						color : white ; 
						font-size : 15px ;
						cursor : pointer ; 
						padding : 3px ;
					}
					#active-bxsilder { color : #0ff ; font-size : 25px ; }
				}
			}
		}
	}
}
/*end Slider*/

.ContentUpdate {
	width : 100% ;
	background-color :	#28282d ;
	.container-ContentUpdate {
		@include margin(89% , 0) ; 
		padding : 10px 10px 35px 10px ; 
		border : 2px solid #353748 ;
		border-radius : 10px ; 
		.block-ContentUpdate {
			h1 { color : $colorGreen ; font-size : 20px ; font-weight : 700 ; margin-left : 10px ; margin-bottom : 30px ; }
			.content-ContentUpdate {
				@include flex(center, space-between) ; 
				span { 
					color : #007791 ; 
					padding : 13px 16px ; 
					background-color : white ;
					border-radius : 100% ;  
					cursor : pointer ; 
				}
				.main-ContentUpdate {
					width : 100% ;
					overflow : hidden ; 
					.ground-ContentUpdate {
						display : flex ; 
						width : 200% ;			
						.block-singer-ContentUpdate {
							padding : 0 5px ;
							width : 20% ; 
							.singer-ContentUpdate {
								height : 314px ;
								border : 2px solid white ; 
								position : relative ; 
								border-radius : 3px ; 
								p { 
									position : absolute ; 
									top : 0 ; 
									color : red ; 
								}
								.top-title-singer-ContentUpdate {
									color : white ; 
									font-size : 15px ; 
									background-color : #a21d0a ; 
									padding : 0px 30px ; 
									border-left : 10px solid $colorGreen ; 
									border-right : 10px solid $colorGreen ; 
									left : 10% ;
									top : 2% ; 
								}
								.bottom-title-singer-ContentUpdate {
									width : 100% ; 
									height : 10% ; 
									background-color : #151621 ; 
									top : 90% ; 
									text-align : center ; 
									color : rgba(220,248,54,.9);
									line-height : 25px ;
									font-size : 15px ; 
									font-weight : 500 ; 
								}
								img { height : 310px ;  width : 100% ; }
							}
						}
					}
				}
			}
		}	
	}
}
/*end ContentUpdap*/

.MainContent {
	margin-top : 30px ;
	width : 100% ;
	background-color : #28282d ;
	.container-MainContent {
		@include margin(89% , 0) ; 
		padding : 10px 10px 35px 10px ; 
		border : 2px solid #353748 ;
		border-radius : 10px ; 
		.block-MainContent {
			h1 { color : $colorGreen ; font-size : 20px ; font-weight : 700 ; margin-left : 10px ; margin-bottom : 40px ; }
			.content-MainContent {
				@include flex(center, space-between) ; 
				.main-MainContent {
					width : 100% ;
					.ground-MainContent {
						@include flex(center, flex-start, wrap) ; 		
						.block-singer-MainContent {
							padding : 10px 10px ;
							width : 20% ; 
							.singer-MainContent {
								height : 314px ; 
								position : relative ; 
								transform-style : preserve-3d ; /*cac element ben trong se giu vi tri 3d*/
								perspective : 10000px ; /*thông thường element sẽ hiển thị đô dài và rộng, thuộc tính này hiển thị độ sâu */
								.product {
									width : 100% ; 
									height : 100% ; 
									border : 2px solid white ; 
									position : absolute ; 
									border-radius : 3px ; 
									cursor : pointer ;
									transition : 1.5s ;
									transform : rotateY(0deg) ;
									backface-visibility : hidden ; /*khi xoay măt sau sẽ k hiển thị*/
									p { 
										position : absolute ; 
										top : 0 ; 
										color : red ; 
										z-index : 3  ;
									}
									.top-title-singer-MainContent {
										text-align : center  ;
										color : white ; 
										font-size : 15px ; 
										background-color : #a21d0a ; 
										width : 85% ;
										line-height : 20px ; 										
										height : 25px ;
										border-left : 10px solid $colorGreen ; 
										border-right : 10px solid $colorGreen ; 
										left : 7% ; 
										top : 2% ; 
									}
									.bottom-title-singer-MainContent {
										width : 100% ; 
										height : 10% ; 
										background-color : #151621 ; 
										top : 90% ; 
										text-align : center ; 
										color : rgba(220,248,54,.9);
										line-height : 25px ;
										font-size : 15px ; 
										font-weight : 500 ; 
										overflow : hidden ; 
										text-overflow : ellipsis ; 
										white-space: nowrap ;
										padding : 0 5px ; 
									}
									img { height : 310px ;  width : 100% ; }
								}
								.rotate-product {
									padding : 5px ; 
									position : absolute ; 
									border : 2px solid white ; 
									border-radius : 3px ; 
									height : 100% ; 
									text-align : center ; 
									width : 100% ; 
									transition : 1.5s ;
									backface-visibility : hidden ; 
									transform : rotateY(180deg) ; 
									line-height : 21px ; 
									p:first-child {color : #dcf836 ; }
									p {
										overflow : hidden ; 
										text-overflow : ellipsis ; 
										white-space: nowrap ; 
										font-size : 17px ; 
										color : white ; 
										span { margin : 0 ; color : #45d7f4 ; background-color : transparent ;}	
									}
									
									a {
										color : #f4fdfd ; 
										text-decoration : none ; 
										margin : 15px  auto ; 
										display : block ; 
										width : 50% ; 
										padding-top : 5px ; 
										height : 34px ;
										background-color : #20d8da ; 
										border-radius : 22px  ; 
										font-size : 17px ; 
									}
								}
								&:hover .product { transform : rotateY(-180deg)  ;  }
								&:hover .rotate-product { transform : rotateY(0deg) ; border : 1px solid white ; }
							}
						}
						.block-movie {
							@extend .block-singer-MainContent ; 
							width : 25% ; 
						}
					}
				}
			}
		}
	}
}
/*end MainContent*/

.Footer {
	margin-top : 30px ;
	background-color : #28282d ; 
	padding : 40px 10px ; 
	.container-footer {
		@include margin(86%) ; 
		overflow : hidden ; 
		@include flex(flex-start,space-between, wrap) ; 
		.connect-container {
			width : 35% ; 
			margin-top : 10px ; 
			img { width : 70% ;}
			.group-connect {
				line-height : 35px ; 
				i { color : white ; font-size : 17px ;  }
				span {	margin-left : 10px ; color : #757575 ; font-size : 17px ; }
			}
		}
		.container-googlemap {
			height : 250px ; 
			width : 65% ; 	 
		}
	}
	.ScroolUp {
		cursor : pointer ; 
		width : 40px ;
		height : 40px ;
		background-color : black ;  
		position : fixed ; 
		top : 87% ; 
		left : 95% ; 
		border-radius : 100% ; 
		i {
			margin-top : 30% ; 
			margin-left : 33% ;
			color : white ; 
			font-size : 16px ; 
		}
		
	}
}

.LogIn {
	padding : 60px 20px ;
	@include margin(40%, 50px) ; 
	background-color : #151621 ;  
	position: relative;
	border-radius : 10px ;
	&::after {
		    content: "";
			left: -2px;
			top: -2px;
			bottom: -2px;
			z-index: -1;
			right: -2px;
			border-radius : 10px ;
			position: absolute;
			background: linear-gradient(235deg,#772aff,#010615,#2196f3);
	}
	&::before {
		-webkit-filter: blur(10px);
		filter: blur(10px);
		content: "";
		left: -2px;
		top: -2px;
		bottom: -2px;
		z-index: -1;
		right: -2px;
		position: absolute;
		border-radius : 10px ;
		background: linear-gradient(235deg,#772aff,#010615,#2196f3);
	}
	.block-Login {
		text-align : center ; 
		h1 { font-size : 27px ; color : white ; font-weight : 700 ; margin-bottom : 25px ; }
		p { color : white ; font-size : 17px ; }
		#matkhau { margin-top : 10px ; }
		.block-input {		
			margin : 0 auto ; 
			height : 30px ;
			@include flex(center, center) ; 
			div {
				padding-top : 5px  ;
				width : 30px ;
				height : 100% ;  
				background-color : #20d8da  ;
			}
			input {
				width : 70% ; 
				height : 100% ;
				outline : none ; 
			}
		}
		.btn_dangnhap-dangky {
			margin-top : 20px ; 
			outline: none;
			border: none;
			padding: 11px 25px;
			font-size: 16px;
			color: #fff;
			cursor: pointer;
			border-radius: 30px;
			background: #1877f2;
			margin-bottom : 20px ;
			&:hover { text-decoration : underline ; }
		}
		> a {	color : white ; font-size : 16px ; &:hover { text-decoration : underline ; }}
		.icoin-LogSig {
			margin-top : 40px ;
			margin-bottom : 20px ;
			a { 
				color : white ; 
				font-size : 15px ; 
				padding : 14px 17px ; 
				border-radius : 100% ; 
				margin-left : 15px  ; 
				cursor : pointer ; 
			}
			#fb { background-color : #4267b2 ; }
			#gg { background-color : #d6220a ; }
			#tw { background-color : #1c9dec ; }
		}
	}
	
}

.ChildrenContent {
	@include margin(83%, 40px) ; 
	.container-ChildrenContent {
		.block-ChildrenContent {
			.link-film {
				width : 100% ; 
				padding : 18px 10px 11px ; 
				background-color : #28282d ; 
				border : 2px solid #353748 ;
				border-radius : 10px ; 		
				font-size : 17px ;
				p {color : white ; }
				span { color : #1d77ff ;}
			}
			.main-ChildrenContent {
				@include flex(flex-start, flex-start) ;
				width: 100%; 
				margin-top : 20px ; 
				.block-singer-ChildrenContent {
					width : 77% ; 
					padding-right : 40px ;
					.singer-ChildrenContent {
						width : 100% ; 
						background-color : #28282d ;
						border : 2px solid #353748 ;
						border-radius : 10px ;
						padding : 30px 20px ; 
						@include flex(center) ; 
						.product-ChildrenContent {
							width : 40% ; 
							position : relative ; 
							border-radius : 5px  ;
							overflow : hidden ;
							img { width : 100% ; height : 400px ;}
							button {
								top : 85%; 
								left : 29.5% ;
								border : none ; 								
								position : absolute ;
								width : 47% ; 
								height : 35px ; 
								text-align : center ; 
								color : #f4fdfd ; 
								text-decoration : none ; 
								border-radius : 3px  ; 
								font-size : 17px ; 
								background-color :  #0056ff ; 
							}
						}
						.rotate-product {
							margin-left : 10px ;
							width : 58% ; 
							padding : 10px ; 
							h1 { text-align : center ;color : $colorYellow ; font-size : 22px ; margin-top : -20px ; margin-bottom : 25px ; }
							p {
								margin-top : 20px ; 
								font-size : 17px ; 
								color : white ; 
								span { margin : 0 ; color : #45d7f4 ; background-color : transparent ;}	
							}
						}
					}
					.content-film {
						margin-top : 20px ;
						h1 { color : #00cfc5 ; font-size : 21px ; }
						background-color : #28282d ;
						border : 2px solid #353748 ;
						border-radius : 10px ;
						padding : 0px 20px 10px ;
						p { margin-top : 20px ;color : hsla(0, 0%, 100%, .75) ; font-size : 17px ; }
					}
					.comment {
						margin-top : 20px ;
						h1 { color : #00cfc5 ; font-size : 21px ; }
						background-color : #28282d ;
						border : 2px solid #353748 ;
						border-radius : 10px ;
						padding-left : 25px ;
						padding-bottom : 30px ;
						.img-avatar {
							margin : 20px 0 0 5px ;
							width : 45px ; 
							height : 45px ;
							border-radius : 100%; 
							overflow : hidden ; 
							img { width : 100% ; height : 100% ;}
						}
						.range {
							margin : 10px 0 0 80% ; 
							i {
								color : white ; 
								font-size : 15px ;
								margin-left : 7px ;
								cursor : pointer ; 
							}
						}
						form {
							width : 100% ; 
							margin-top : 10px ;
							textarea{
								border : 1px solid white ; 
								width : 95% ; 
								height : 150px ;
								background-color : transparent ; 
								border-radius : 5px ;
								color : hsla(0, 0%, 100%, .75) ; 
								padding : 10px ;
								&::placeholder { color : white ; }
							}
							button {
								margin-top : 10px ;
								margin-left : 82% ; 
								border-radius : 5px ;
								width : 85px ;
								height :30px ; 
								background-color : #00cfc5 ; 
								outline : none ; 
								border : none ; 
								color : white ; 
							}
							
						}
					}
				}
				.right-ChildrenContent {
					h1 { margin-bottom : 20px ; color : $colorGreen ; font-size : 23px ; text-align : center ; margin-top : 0 ;  } 
					background-color : #28282d ;
					width : 23% ;
					padding : 20px ; 
					border : 2px solid #353748 ;
					border-radius : 10px ; 
					.img-right-ChildrenContent {
						display : flex ; 
						flex-direction: column ;
						align-items : center ; 
						.product {
							width : 100% ; 
							position : relative ;
							height : 314px ;
							margin : 5px 0 ;
							border : 2px solid white ; 
							border-radius : 3px ;
							p { 
								position : absolute ; 
								top : 0 ; 
								color : red ; 
								z-index : 3  ;
							}
							.top-title-singer-MainContent {
								line-height : 22px ;
								text-align : center  ;
								color : white ; 
								font-size : 15px ; 
								background-color : #a21d0a ; 
								width : 90%; 
								height : 25px ;
								border-left : 10px solid $colorGreen ; 
								border-right : 10px solid $colorGreen ; 
								left : 4% ;
								top : 2% ; 
							}
							.bottom-title-singer-MainContent {
								width : 100% ; 
								height : 10% ; 
								background-color : #151621 ; 
								top : 90% ; 
								text-align : center ; 
								color : rgba(220,248,54,.9);
								line-height : 30px ;
								font-size : 15px ; 
								font-weight : 500 ; 
								overflow : hidden ; 
								text-overflow : ellipsis ; 
								white-space: nowrap ;
								padding : 0 5px ; 
							}
							img { height : 310px ;  width : 100% ; }
						}
					}
				}
			}
		}
	}
	.play-movie {
		width : 80% ;	
		top : 0 ; 
		left : 10% ; 
		i { 
			border-radius : 100% ; 
			background-color : gray ; 
			padding : 7px 11px ;
			color : white ; 
			margin-top : 30px ; 
			font-size : 25px ; 
			margin-left : 105% ; 
			cursor : pointer ; 
		}
		iframe { margin-top : 50px ; height : 455px ;}
	}
}

@media all and (max-width : 414px){
	header {
		.container-header {
			padding-top :  10px ; 
			@include margin(99% ,0) ; 
			.top-header {  
				@include flex(center, space-between , wrap) ; 
				#a-img {
					width : 100% ; 
					img {
						margin : 0 auto ; 
						width : 65% ; 
					}
				}
				form {
					width : 100% ; 
					input {
						width : 100% ; 
						margin-left : 0px; 
					}
					::placeholder { font-size : 12px ; }
				}
				.blockLogInSugIp {
					width : 100% ; 
					padding-left : 25px ;
					padding-right : 35px; 
					margin-top : 10px ;
					div {
						width : 50% ; 
						margin-left : 10px ; 
						height : 38px ;
						font-size : 14px ;
					}
				}
			}
			.bottom-header {
				@include flex(center ,space-between) ;
				padding : 20px ;
				.controlClose { display : block ; }
				.social-header {
					margin : 0 ; 
					a {
						margin-left : 0 ; 
						font-size : 20px ; 
					}
				}
				.humburger {
					display : block ; 
				}
			}
		}
	}
	.Slider {
		.contains-slider {
			.block-slider {
				height : 311px ;  
				.main-Slider {
					.content-slider {
						top : 80.5% ; 
						height : 19.5% ; 
						padding-top : 15px ;
						h1 {  margin-top : 0px ;  font-size : 15px ; }
						h2 {  margin-top : -7px ;  font-size : 15px ; }
					}
				}
				span {	display : none ;  }
			}
			.bxsilder {
				padding-right : 50px ;
				ul {
					width : 50% ; 		
					li { 
						span {
							font-size : 11px ;
						}
						#active-bxsilder { color : #0ff ; font-size : 17px ; }
					}
				}
			}
		}
	}
	.ContentUpdate {
		.container-ContentUpdate {
			@include margin(100% , 0) ; 
			padding : 10px 0px 25px 0px ; 
			.block-ContentUpdate {
				h1 { font-size : 16px ; margin-left : 20px ;  }
				.content-ContentUpdate {
					margin-top : 0px ;
					position : relative	;			
					display : block ;  
					span { 
						position : absolute ; 
						padding : 10px 13px ; 
						top : 41% ; 
						z-index : 20 ; 
					}
					#btn-left { left : 5px ; }
					#btn-right { left : 90% ; }
					.main-ContentUpdate {
						width : 100% ; 
						.ground-ContentUpdate {
							width : 500% ; 
							.block-singer-ContentUpdate {
								padding : 0 5px ;
								.singer-ContentUpdate {
									p { 
										position : absolute ; 
										top : 0 ; 
									}
									.top-title-singer-ContentUpdate {
										font-size : 14px ; 
										left : 9% ;
									}
									img { height : 256px ; }
								}
							}
						}
					}
				}
			}	
		}
	}	
	.MainContent {
		
		.container-MainContent {
			@include margin(100% , 0) ; 
			padding : 10px 0px 35px 0px ; 
			.block-MainContent {
				h1 {  font-size : 16px ; margin-left : 20px ; margin-bottom : 20px ; }
				.content-MainContent {
					padding : 0 0 ; 
					.main-MainContent {
						.ground-MainContent {
							.block-singer-MainContent {
								padding : 10px 5px ;
								width : 50% ; 
								.singer-MainContent {
									.product {
										.top-title-singer-MainContent {
											font-size : 14px ; 
										}
									
									}
									.rotate-product {
										p {
											font-size : 15px ; 
										}
										a {
											font-size : 16px ; 
										}
									}
								}
							}
							.block-movie {
								width : 50% ; 
							}
						}
					}
				}
			}	
		}
	}
	.Footer {
		.container-footer {
			@include margin(100%) ; 
			overflow : hidden ; 
			@include flex(flex-start,space-between, wrap) ; 
			.connect-container {
				width : 100% ; 
				margin-left : 15px ; 
				margin-top : 0px ;
				margin-bottom : 20px ; 
				img { width : 70% ;}
				.group-connect {
					line-height : 35px ; 
					i {  font-size : 17px ;  }
					span {	margin-left : 10px ; font-size : 17px ; }
				}
			}
			.container-googlemap { 
				width : 100% ; 	 
				border : 2px solid white ; 
			}
		}
		.ScroolUp {
			top : 80% ; 
			left : 88% ; 
			i {
				margin-top : 28% ; 
				margin-left : 33% ;
			}
		}
	}
	.LogIn {
		width : 90% ; 
	}
	.ChildrenContent {
		@include margin(100%, 40px) ; 
		.container-ChildrenContent {
			.block-ChildrenContent {
				.link-film {
					font-size : 15px ;
				}
				.main-ChildrenContent {
					width: 100%; 
					margin-top : 20px ; 
					.block-singer-ChildrenContent {
						width : 100% ; 
						padding-right : 0px ;
						.singer-ChildrenContent {
							width : 100% ; 
							display : block ; 
							.product-ChildrenContent {
								margin : 0 auto ; 
								width : 65% ; 
								img {  height : 300px ;}
								a {
									top : 84%; 
									left : 30% ; 
									font-size : 14px ; 
								}
							}
							.rotate-product {
								margin-left : 0px ;
								width : 100% ; 
								padding : 10px ; 
								h1 { font-size : 20px ; margin-top : 10px ; margin-bottom : 25px ; }
								p {
									margin-top : 10px ; 
									font-size : 15px ; 
									span { margin : 0 ; color : #45d7f4 ; background-color : transparent ;}	
								}
							}
						}
						
						.comment {
							.range {
								margin : 10px 0 0 54% ; 
							}
							form {
								width : 100% ; 
								margin-top : 10px ;
								textarea{
									border : 1px solid white ; 
									width : 95% ; 
									height : 150px ;
									background-color : transparent ; 
									border-radius : 5px ;
									color : hsla(0, 0%, 100%, .75) ; 
									padding : 10px ;
									&::placeholder { color : white ; }
								}
								button {
									margin-left : 66% ; 
								}
								
							}
						}
					}
					.right-ChildrenContent {
						display : none ; 
					}
				}
			}
		}
		.play-movie {
			width : 93% ;	
			left : 3.5% ; 
			i { 
				border-radius : 100% ; 
				background-color : gray ; 
				padding : 7px 11px ;
				color : white ; 
				margin-top : 20px ; 
				font-size : 25px ; 
				margin-left : 85% ; 
				cursor : pointer ; 
			}
			iframe { margin-top : 80px ; height : 250px ;}
		}
	}
}


